.card {
    background-color: white;
    box-shadow: 0 0 20px black;
    width: 90%;
    max-width: 450px;
    min-height: 150px;
    padding: 0 1rem;
    border-radius: 10% 0 10% 0;
    position: relative;
}
